#Output file variables
Function write-log{
Param (
[string] $msg
)
$date = Get-Date -Format "MM-dd-yyyy"
New-Item -Path "C:\Programdata\Logs" -ItemType Directory -ErrorAction SilentlyContinue
$Logfile = "C:\Programdata\Logs\Post-Build_Script2.log"
$TimeStamp = Get-Date -Format "MM/dd/yyyy hh:mm:ss tt"
write-host "$($TimeStamp): $msg"
Write-Output "$($TimeStamp): $msg" |out-file $Logfile -append
}

# Enable RDP access
$rdpEnabled = (Get-ItemProperty -Path 'HKLM:\SYSTEM\CurrentControlSet\Control\Terminal Server' -Name "fDenyTSConnections").fDenyTSConnections

if ($rdpEnabled -eq 0) {
    Write-Host "RDP access is already enabled."
} else {
    Set-ItemProperty -Path 'HKLM:\SYSTEM\CurrentControlSet\Control\Terminal Server' -Name "fDenyTSConnections" -Value 0
    Write-Host "RDP access enabled."
    Write-Log "RDP access enabled"
}

# Disable Firewall
$firewallStatus = Get-NetFirewallProfile | Where-Object {$_.Enabled -eq 'True'}

if ($firewallStatus) {
    Set-NetFirewallProfile -Profile Domain,Public,Private -Enabled False
    Write-Host "Firewall disabled."
    Write-Log "Firewall disabled"
} else {
    Write-Host "Firewall is already disabled."
}

# FlexNet Agent Installation
$flexInstallPath = "{{flex_install_pth}}"
$FNApath1 = "{{mgspolicy_pth}}"
$FNApath2 = "{{ndtrack_pth}}"

# Check if FlexNet Agent is already installed
$flexNetInstalled = $false
$agentInstalled = Get-Service -Name "FlexNet Agent" -ErrorAction SilentlyContinue
if ($agentInstalled) {
    $flexNetInstalled = $true
}

if ($flexNetInstalled) {
    Write-Log "FlexNet Agent is already installed. Skipping installation."
} else {
    Write-Log "FlexNet Agent installation starting"
    # Install FlexNet Agent
    Invoke-Item -Path $flexInstallPath
    Start-Sleep 30
    Write-Log "FlexNet Agent Install command invoked"

    if ((Test-Path -Path $FNApath1 -PathType Leaf) -and (Test-Path -Path $FNApath2 -PathType Leaf)) {
        Write-Log "FlexNet policy and tracker files are available, continuing the installation"
        
        try {
            Start-Process -FilePath $FNApath1 -ArgumentList "-t Machine -o userinteractionlevel=quiet" -Wait -ErrorAction Stop
            Write-Log "FlexNet policy file installed successfully"
        } catch {
            Write-Log "Error installing FlexNet policy file: $_"
        }
        
        try {
            Start-Process -FilePath $FNApath2 -ArgumentList "-t Machine -o userinteractionlevel=quiet" -Wait -ErrorAction Stop
            Write-Log "FlexNet tracker file installed successfully"
        } catch {
            Write-Log "Error installing FlexNet tracker file: $_"
        }
    } else {
        Write-Log "FlexNet policy and/or tracker files are missing, installation aborted"
    }
}

# Qualys Agent Installation
$QA = "{{ qa_pth }}"

# Check if the Qualys agent service is running
$agentService = Get-Service -Name "Qualys Agent" -ErrorAction SilentlyContinue

if ($agentService -ne $null -and $agentService.Status -eq 'Running') {
    Write-Log "Qualys agent is already installed and running. Skipping installation."
} else {
    Write-Log "Qualys agent installation starting"
    $customerId = "{{ cust_id }}"
    $activationId = "{{ activate_id }}"
    $webServiceUri = "{{ webservice_uri }}"

    Start-Process -FilePath $QA -ArgumentList "CustomerId=$customerId ActivationId=$activationId WebServiceUri=$webServiceUri" -Wait
    Write-Log "Qualys agent installation completed"
}

# Check if Defender is already onboarded
$defenderOnboarded = $false

$defenderService = Get-Service -Name WinDefend -ErrorAction SilentlyContinue
if ($defenderService -ne $null -and $defenderService.Status -eq 'Running') {
    $defenderOnboarded = $true
}

if ($defenderOnboarded) {
    Write-Log "Defender is already onboarded. Skipping onboarding."
} else {
    Write-Log "Onboarding Defender started"
    $DF = "{{ df_script_pth }}"
    Start-Process $DF
    Start-Sleep -Seconds 60
    Write-Log "Onboarding Defender completed"
}

